/*CSS*/
body{
    background-image:linear-gradient(rgb(247, 219, 158), rgb(235, 202, 217),rgb(189, 204, 212));
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
}
.backg_nav{
    background-image: url("/img/ni.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    background-color: rgb(238, 172, 183);
    opacity: 0.7;
    z-index: 1;

    color: darkred;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    cursor: pointer;
}

nav ul li:hover{
    color: black;
}

nav ul li{
    padding-left: 10px;
}

nav a{
    color: darkred;
    font-size: 20px;
    font-weight: bold;
    height: auto;
}
.navbar a:hover{
    color: black;
}

.nihon-container{
    color: rgba(45, 156, 55, 0.808);
}

.nihon-container h4{
    color: rgb(158, 0, 53);
}

.modal {
    padding-top: 120px;
}

.img_scroll{
    overflow: auto;
    white-space: nowrap;
}

.img_scroll img{
    display: inline-block;
}

.o_login_back{
    font-size: 15px;
}

.bigSpace{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 2px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(51, 48, 48); /* Black w/ opacity */
}


.close span{
    position: absolute;
    top: 20px;
    right: 200px;
    transition: 0.3s;
    font-size: 50px;
    color: wheat;
}

.close span:hover{
    color:red;
}

.checktext{
    font-size: 15px;
    padding-left: 10px;
}

.bigSpace img{
    z-index: -1;
  }

.scroll_small_img{
    margin-left: 380px;
}

#footer{
    background-image: radial-gradient(rgb(248, 203, 105),rgb(199, 119, 143),rgb(72, 59, 107));
}

.footer_font{
    font-size: 20px;
}


@media only screen and (max-width: 700px){
    .bigSpace img{
       width: 80px;
       height: 80px;
      }

    .close span{
        position: absolute;
        top: 10px;
        right:0px;
        transition: 0.3s;
        font-size: 50px;
        color: rgb(24, 94, 59);
    }

    .close span:hover{
        color:red;
    }

    .scroll_small_img{
        margin-left: 0px;
    }
}
