/*CSS*/

.body{
    background-color: rgb(173, 173, 173);
}

.nav{
    background-color: rgb(95, 180, 176);
    font-size: 20px;
    font-family: 'Cooper Black';
    z-index: 1;
}
.nav ul li{
    padding-left: 10px;
}

.nav a{
    color: rgb(47, 32, 83);
    font-size: 20px;
}
.nav a:hover{
    color: black;
}


.image_upload > input
{
    display: none;
}

.image_upload img
{    width: 80px;
    cursor: pointer;
    color: var(--white);
}

.userfloat{
    padding-left: 50px;
}
.userfloatname{
    margin-left: 60px;
}


.bigSpace{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(199, 194, 194, 0.9); /* Black w/ opacity */
}


.close span{
    position: absolute;
    top: 20px;
    right: 300px;
    transition: 0.3s;
    font-size: 50px;
    color: rgb(86, 109, 214);
}

.close span:hover{
    color: red;
}

.sizefontpost{
    font-size: 25px;
    margin-left: 60px;
}

.comment_p{
    padding: 10px;
}

.post_left_side{
    background-color: white;
    height: 100%;
}

.bigSpaceImg{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(54, 51, 51); /* Black w/ opacity */
}

.bigSpaceImg img{
    z-index: -1;
}

.scroll_post{
    background-color: white;
    width: 100%;
    height:100%;
    overflow: auto;
    padding:10px;
}

.comment_space{
    height: 400px;
}

.form_comment button{
    margin-left: 920px;
}


.changeProfile{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(243, 234, 234); /* Black w/ opacity */
}

.changeProfile {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

.click_pen{
    cursor: pointer;
    margin-left: 700px;
    margin-top: -500px;
}

@media only screen and (max-width: 768px){
    .close span{
        position: absolute;
        top: 10px;
        right: 0px;
        transition: 0.3s;
        font-size: 50px;
        color: rgb(86, 109, 214);
    }

    .dropdown-toggle{
        margin-top: -100px;
        margin-left: 370px;
        z-index: 1;
    }

    .form_comment button{
        margin-left: 400px;
    }

    .card-footer p{
        padding-left: 210px;
    }

    .click_pen{
        cursor: pointer;
        margin-left: 400px;
        margin-top: -500px;
    }
}
